<style type="text/css">
  #content {
    margin-left: 100px;
  }

  .cropContainer{

  }

  .cropContainer .viewport{
  	overflow: hidden;
    position: relative;
    width: 300px;
    height: 280px;
    border:1px solid #ccc;
    background-image: url('images/viewport_background.gif');
    cursor: move;
  }

  .cropContainer .viewport:after{
  	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5999;
    -moz-opacity: .75;
    opacity: .75;
    filter: alpha(opacity=7);
    -webkit-box-shadow: inset 0 0 0 40px white,inset 0 0 0 41px rgba(0,0,0,.1),inset 0 0 20px 41px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 0 0 40px white,inset 0 0 0 41px rgba(0,0,0,.1),inset 0 0 20px 41px rgba(0,0,0,.2);
    box-shadow: inset 0 0 0 40px white,inset 0 0 0 41px rgba(0,0,0,.1),inset 0 0 20px 41px rgba(0,0,0,.2);
  }

  .cropContainer .loading-indicator{
  	background-image: url('images/loading.gif');
    background-repeat:no-repeat;
    background-position:center;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
  }

  .cropContainer .profile-img{
  	position: absolute;
  }

  .cropContainer .zoom-slider{

  }

  .cropContainer input.sliderBar{
  	width: 300px;
  }



</style>

<div filepicker path="/minion-id-test/" callback="doneUploading(file)" multiple=false>Add Photo</div>

<div id="content">
	<div minion-crop img-src="{{imageUrl}}" crop-action="doCrop(image, params)" mask-size="40"></div>
</div>
{{croppedImage}}
<div ng-show="croppedImage">
	<h2>Cropped Image:</h2>
	<img ng-src="{{croppedImage}}">
</div>