<div class="cropContainer">
        <div class="viewport">
          <div class="loading-indicator"></div>
          <img class="profile-img" ng-src="{{imgSrc}}" ng-load="alert('ss')"></img>

        </div>

        <div class="zoom-slider">
       		 <div class="ui-slider-handle"></div>
       		 <input class="sliderBar" ng-model="zoomLevel" type="range" name="points" min="0" max="100" ng-change="zoomy(zoomLevel)">
     	</div>
     	<button ng-click="cropIt()">Crop Me...Crop Me.......Crop me now!</buttons>
</div>